extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    - var inputTypes = ['text','emali','password','phone']
    each key, val in groups
      .form-group
        label.col-sm-3.control-label(for='#{key.toLowerCase()}') #{key}
        .col-sm-7
          input.form-control(type=(inputTypes.indexOf(key) == -1) ? 'text' : '#{key.toLowerCase()}', name='#{key.toLowerCase()}', id='#{key.toLowerCase()}', value='#{user[key] | user.profile[key]}')
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
    .form-group
      label.col-sm-3.control-label(for='gender') Gender
      - var genders = ['Male', 'Female']
      .col-sm-4
        each g in genders
          label.radio.col-sm-4
            input(type='radio', checked=user.profile.gender=='#{g.toLowerCase()}', name='gender', value='#{g.toLowerCase()}', data-toggle='radio')
            span= g
    .form-group
      label.col-sm-3.control-label(for='location') Location
      .col-sm-7
        input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
    .form-group
      label.col-sm-3.control-label(for='website') Website
      .col-sm-7
        input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
    .form-group
      label.col-sm-3.control-label(for='gravatar') Gravatar
      .col-sm-4
        img(src="#{user.gravatar()}", class='profile', width='100', height='100')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Profile

  .page-header
    h3 Change Password
  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password


  .page-header
    h3 Delete Account
  form.form-horizontal(action='/account/delete', method='POST')
    .form-group
      p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account



  .page-header
    h3 Linked Accounts
  .form-horizontal
    .form-group
      each val in linkable_accts
        .col-sm-offset-3.col-sm-4
          - if(user[val.toLowerCase()])
            p: a.text-danger(href='/account/unlink/#{val}') Unlink your #{val} account
          - else
            p: a(href='/auth/#{val}') Link your #{val} account